{% extends 'index.html' %}
{% load static %}
{% block body_block %}

<div class="hero-unit">
    <div class="container">
             {% csrf_token %}
             <h2 class="form-signin-heading">Add ingredient</h2>
              Select benefit rate for {{price.category}} ingredient: {{price.ingredient}}
              <form  id="form">
             <br />
             <br />
             <style type="text/css"> ul {list-style:none} </style>
             Do you need to adjust the wages to include fringe benefits?
             <br />
             {{ form.benefitYN }}
             <br />
             If you need to include fringe benefits 
             <br />
             Enter fringe benefit rate as a percentage of salary/wage:
             {{form.benefitRate}}
             <br /><br />
             If you do not know the fringe benefit rate you can search in CBCSE DB <br />
             <input type="button" style="background-color:green" name="goto3" value="Choose benefit rate from CBCSE DB" onclick="chooseRate();"/>
              <br />
              <br />
             <input type="button" style="background-color:green" name="goto2" value="< Back" onclick="goback();"/>
             <input type="button" style="background-color:green" name="goto" value="Next >>" onclick="Pass();" />
             <input class="btn btn-primary" type="button" name="cancel" value="Cancel" onclick="cancelout();"/>
           </form>
           <script type="text/javascript">

             function cancelout() {
                document.location.href = "/project/programs/effect/"+ {{project_id}} +"/"+ {{program_id}} +"/tabbedview.html?activeform=costform";
             }

              function Pass() {
                 document.location.href = "/project/programs/costs/summary.html";
              }

              function chooseRate() {
                 document.location.href = "/project/programs/costs/benefits.html";
              }

              function goback() {
                document.location.href = "/project/programs/costs/"  + {{price.id}} + "/price_indices.html";
              }

           </script>
    </div>
</div>
{% endblock %}


