{% extends 'index.html' %}
{% load static %}
{% block body_block %}

<div class="hero-unit">
    <div class="table-responsive">
        <h2 class="form-signin-heading">Edit geographical indices</h2>
        <h4> Source of default geographical indices XXXX </h4>
        <h4> If you edit the default geographical indices they will be stored and used for this project only. </h4>
        <table>
        <thead>
           <tr>
              <th>State</th>
              <th>Area</th>
              <th>Index</th>
           </tr>
        </thead>
        <form method="post" id="geoform"  enctype="multipart/form-data">
        <tbody class="product-instances">
             {% csrf_token %}
             {{ geoform.management_form }}
             {% for form in geoform %}
             {{ form.id }}
             <tr>
                <td>{{ form.stateIndex }}</td>
                <td>{{ form.areaIndex }}</td>
                <td>{{ form.geoIndex }}</td>
             </tr>
             {% endfor %}

        </tbody>
        </table> 
        <input class="btn btn-primary" type="button" name="goto" value="Restore default geographical indices" onclick="PasstoView()">
        <input class="btn btn-primary" type="submit" name="submit" value="Save" />
        <a href="/project/indices.html"><input class="btn btn-primary" type="button" name="button2" value="Cancel" /></a>
        </form>
   </div>
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
   <script type="text/javascript">
       function PasstoView () {
          if (confirm('Are you sure you want to restore the Geographical Indices?')) {
             document.location.href = "/project/restore_geo.html";
          }
       }
   </script>

</div>

{% endblock %}

