{% extends 'index.html' %}
{% load static %}
{% block body_block %}

<div class="hero-unit">
    <div class="table-responsive">
        <h2 class="form-signin-heading">Project Details</h2>
        <h3> Click on the project you want to work on </h3>
            <table class="table table-condensed">               
                <thead>
                    <th></th>
                    <th>Project ID</th>
                    <th>Project Name</th>
                    <th>Type of Analysis</th>
                    <th>Created on</th><br />
                    {% for proj in allprojects %}
                        <tr onmouseover="javascript:style.background='#dcfac9'" onmouseout="javascript:style.background='#DCDCDC'" bgcolor="#DCDCDC">
                            <td><input type="checkbox" id="{{proj.id}}" value="unchecked" onclick="setId(this);"  style="margin-left:auto; margin-right:auto;"></td>
                            <td>{{proj.id}}</td>
                            <td>{{proj.projectname}}</td>
                            <td>{{proj.typeanalysis}}</td>
                            <td>{{proj.created_at}}</td>
                        </tr>
                    {% endfor %}
                   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
                   <script type="text/javascript">
                       var passvar = 000;
                       function setId(chkBox){
                          var inputs = document.getElementsByTagName("input");
                          for (i = 0; i<inputs.length; i++ ) {
                             if (inputs[i].type == 'checkbox'){
                                if (inputs[i].id != chkBox.id) {
                                   inputs[i].checked = false;
                                }
                                else { inputs[i].checked = true;}
                             }
                          }
                          passvar = chkBox.id;
                       }

                       function PasstoView () {
                          if (passvar == 000){
                             alert('Select or Add a Project to work on');}
                          else {
                             document.location.href = "/project/programs/" + passvar +"/program_list.html";}
                       }

                       function PasstoDel () {
                          if (passvar == 000){
                             alert('Select a Project to delete');}
                          else {
                             if (confirm('Are you sure you want to delete this project? All the programs, settings and other records associated with this project will be deleted too.')) {
                                //document.location.href = "/project/" + passvar +"/del_project.html";
                                alert('This will be done after all the screens are ready');
                             }}
                       }

                       function PasstoSett () {
                          if (passvar == 000){
                             alert('Select a Project to edit settings');}
                          else {
                             document.location.href = "/project/" + passvar +"/add_settings.html";}
                       }

		   </script>
               </thead>
            </table>
            <input class="btn btn-primary" type="button" name="goto" value="Go to Project" onclick="PasstoView();">
            <a href="/project/add_project.html"> <input class="btn btn-primary" type="button" name="add" id="add" value="Add New Project" /></a>
            <input class="btn btn-primary" type="button" name="button" value="Export as Excel" />
            <input class="btn btn-primary" type="button" name="button" value="Delete Project" onclick="PasstoDel();" />
            <input class="btn btn-primary" type="button" name="addset" id="addset" value="Settings" onclick="PasstoSett();"/>
            <br><a href="/login/login.html"> <input type="button" style="background-color:green" name="goto2" value="Back" /></a>

    </div>
</div>
{% endblock %}

