{% extends 'index.html' %}
{% load static %}
{% block body_block %}

<div class="hero-unit">
    <div class="container">
             <form class="form-signin span8" id="pricesform" method="post"  enctype="multipart/form-data">
             {% csrf_token %}
             <h3 class="form-signin-heading">Edit Price</h3>
             {{ pricesform.as_p }}
             <br />

             <!-- Provide a button to click to submit the form. -->
             <input class="btn btn-primary" type="submit" name="submit" value="Save" onclick="updaterec()"/>
             <a href="/prices/my_price_list.html"> <input class="btn btn-primary" type="button" name="cancel" value="Cancel" /></a>
             </form>
      </div>
      <script type="text/javascript">
      function updaterec () {
         document.location.href = "/prices/" + {{pricesform.id}} + "/edit_price.html";
      }

      </script>
</div>
{% endblock %}

