{% extends 'index.html' %}
{% load static %}
{% block body_block %}
<div class="hero-unit">
     <h3> Imports </h3>
     <br />
     <a href="/prices/import_excel.html"><input class="button" style="background-color:orange" type="button" name="goto1" value="Import Prices Database"></a>
     <a href="/prices/import_geo.html"><input class="button" style="background-color:orange" type="button" name="goto2" value="Import Geographical Indices"></a>
     <a href="/prices/import_inf.html"><input class="button" style="background-color:orange" type="button" name="goto3" value="Import Inflation Indices"></a>
     <br />
     <br />
     <a href="/"> <input type="button" style="background-color:green" name="goto3" value="Go Back" /></a>
</div>
{% endblock %}

