{% extends 'index.html' %}
{% load static %}
{% block body_block %}

<div class="hero-unit">
    <h3 class="form-signin-heading">Database My Prices</h3>
            <table class="table table-condensed">
                <thead>
                    <th></th>
                    <th>Ingredient</th>
                    <th>Ed. Level</th> 
                    <th>Price</th>
                    <th>Unit of Measure</th>
                    <th>Sector</th>
                    <th>Category</th><br />
                    {% for prc in allprices2 %}
                        <tr onmouseover="javascript:style.background='#dcfac9'" onmouseout="javascript:style.background='#DCDCDC'" bgcolor="#DCDCDC">
                            <td><input type="checkbox" id="{{prc.id}}" value="unchecked" onclick="setId(this);"  style="margin-left:auto; margin-right:auto;"></td>
                            <td>{{prc.ingredient}}</td>
                            <td>{{prc.edLevel}}</td>
                            <td>{{prc.price}}</td>
                            <td>{{prc.unitMeasurePrice}}</td>
                            <td>{{prc.sector}}</td>
                            <td>{{prc.category}}</td>
                        </tr>
                    {% endfor %}
                   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
                   <script type="text/javascript">
                       var passvar = 000;
                       function setId(chkBox){

                          var inputs = document.getElementsByTagName("input");
                          for (i = 0; i<inputs.length; i++ ) {
                             if (inputs[i].type == 'checkbox'){
                                if (inputs[i].id != chkBox.id) {
                                   inputs[i].checked = false;
                                }
                                else { inputs[i].checked = true;}
                             }
                          }
                          passvar = chkBox.id;
                       }

                       function PasstoView () {
                          if (passvar == 000){
                             alert('Select or Add a Price to view');}
                          else {
                             document.location.href = "/prices/" + passvar +"/view_price.html";}
                       }

                       function PasstoEdit () {
                          if (passvar == 000){
                             alert('Select a Price to edit');}
                          else {
                             document.location.href = "/prices/" + passvar +"/edit_price.html";}
                       }

                       function PasstoDel () {
                          if (passvar == 000){
                             alert('Select a Price to delete');}
                          else {
                             if (confirm('Are you sure you want to delete this price?')) {
                                document.location.href = "/prices/" + passvar +"/del_price.html";
                             }} 
                       }

                       function ClearAll () {
                          if (confirm('Are you sure you want to clear the My Prices Database?')) {
                             document.location.href = "/prices/clear_prices.html";
                          }
                       }

                </script>
               </thead>
            </table>
            <input class="btn btn-primary" type="button" name="goto" value="View Price" onclick="PasstoView();">
            <a href="/prices/add_price.html"> <input class="btn btn-primary" type="button" name="add" id="add" value="Add New Price" /></a>
            <input class="btn btn-primary" type="button" name="button" value="Edit Price" onclick="PasstoEdit();"/>
            <input class="btn btn-primary" type="button" name="button" value="Delete Price" onclick="PasstoDel();" /><br>
            <input style="background-color:orange" type="button" name="button" value="Export as Excel" />
            <input style="background-color:orange" type="button" name="button" value="Clear Database" onclick="ClearAll();" />
            <a href="/prices/prices.html"> <input type="button" style="background-color:green" name="goto2" value="Go Back" /></a>

    </div>

</div>
{% endblock %}

