{% extends 'index.html' %}
{% load static %}
{% block body_block %}
<div class="hero-unit">
     <h3> Prices </h3>
     What is the CBCSE Database of Educational Resource Prices? something something something something
     <br />
     <br />
     <a href="price_list.html"><input class="btn btn-primary" type="button" name="goto" value="CBCSE Database of Educational Resource Prices"></a>
     <br />
     <br />
     What is Database My Prices? something something something something
     <br />
     <br />
     <a href="my_price_list.html"><input class="btn btn-primary" type="button" name="goto2" value="Database My Prices"></a>
     <br />
     <br />
     <a href="/"> <input type="button" style="background-color:green" name="goto3" value="Go Back" /></a>
</div>
{% endblock %}

