{% extends 'index.html' %}
{% load static %}
{% block body_block %}

<div class="hero-unit">
    <h2 class="form-signin-heading">Database of Prices</h2>
    <div class="table-responsive">
        <h3 class="form-signin-heading">CBCSE Database of Educational Resource Prices</h3>
            <table class="table table-condensed">
                <thead>
                    <th></th>
                    <th>Ingredient</th>
                    <th>Ed. Level</th>
                    <th>Price</th>
                    <th>Unit of Measure</th>
                    <th>Sector</th>
                    <th>Category</th><br />
                    {% for prc in allprices %}
                        <tr onmouseover="javascript:style.background='#dcfac9'" onmouseout="javascript:style.background='#DCDCDC'" bgcolor="#DCDCDC">
                            <td><input type="checkbox" id="{{prc.id}}" value="unchecked" onclick="setId(this);"  style="margin-left:auto; margin-right:auto;"></td>
                            <td>{{prc.ingredient}}</td>
                            <td>{{prc.edLevel}}</td>
                            <td>{{prc.price}}</td>
                            <td>{{prc.unitMeasurePrice}}</td>
                            <td>{{prc.sector}}</td>
                            <td>{{prc.category}}</td>
                        </tr>
                    {% endfor %}
                   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
                   <script type="text/javascript">
                       var passvar = 000;
                       function setId(chkBox){

                          var inputs = document.getElementsByTagName("input");
                          for (i = 0; i<inputs.length; i++ ) {
                             if (inputs[i].type == 'checkbox'){
                                if (inputs[i].id != chkBox.id) {
                                   inputs[i].checked = false;
                                }
                                else { inputs[i].checked = true;}
                             }
                          }
                          passvar = chkBox.id;
                       }


                       function PasstoView () {
                          if (passvar == 000){
                             alert('Select or Add a Price to view');}
                          else {
                             document.location.href = "/prices/" + passvar +"/view_price.html";}
                       }

                       function importExcel () {
                          document.location.href = "/prices/import_excel.html";
                       }

                   </script>
               </thead>
            </table>
            <input class="btn btn-primary" type="button" name="goto" value="View Price" onclick="PasstoView();">
            <br><input type="button" name="button" style="background-color:orange" value="Export as Excel" />
           <a href="/prices/prices.html"> <input type="button" style="background-color:green" name="goto2" value="Go Back" /></a>
    </div>
</div>
{% endblock %}

