{% extends 'index.html' %}
{% load static %}
{% block body_block %}

<div class="hero-unit">
    <div class="container">
             {% csrf_token %}
             <h3 class="form-signin-heading">Price Details</h2>
             <table class="table table-condensed">
                <tr> Price Provider: {{ price.priceProvider }}</tr><br />
                <tr> Category: {{ price.category }} </tr><br />
                <tr> Ingredient: {{ price.ingredient}} </tr><br />
                <tr> Education Level: {{ price.edLevel }} </tr><br />
                <tr> Sector: {{ price.sector }} </tr><br />
                <tr> Description of Price: {{price.descriptionPrice}} </tr><br />
                <tr> Unit Measure Price: {{price.unitMeasurePrice}} </tr><br />
                <tr> Price: {{price.price}} </tr><br />
                <tr> Year Price: {{price.yearPrice}} </tr><br />
                <tr> State Price: {{price.statePrice}} </tr><br />
                <tr> Area Price: {{price.areaPrice}} </tr><br />
                <tr> Source Price Data: {{price.sourcePriceData}} </tr><br />
                <tr> URL Price: {{price.urlPrice}} </tr><br />
                <tr> Last Checked: {{price.lastChecked}} </tr><br />
                <tr> Next Check Date: {{price.nextCheckDate}} </tr><br />
             </table>
             <br />

             <a href="/prices/price_list.html"> <input class="btn btn-primary" type="button" name="cancel" value="Cancel" /></a>
      </div>
</div>
{% endblock %}

