{% extends 'index.html' %}
{% load static %}
{% block body_block %}

<div class="hero-unit">
    <div class="container">
    <h4 class="form-signin-heading">Programs:</h4>
    <h4> Click on the program you want to work on </h4>
        <table class="table table-condensed">
                  <thead>
                    <th>Name</th>
                    <th>Short Name</th>
                    {% csrf_token %} 
                    {% for prog in programform  %}
                            <tr onmouseover="javascript:style.background='#dcfac9'" onmouseout="javascript:style.background='#DCDCDC'" bgcolor="#DCDCDC">
                            <td>{{prog.id}}</td>
                            <td>{{prog.progname}}</td>
                            <td>{{prog.progshortname}}</td>
                        </tr>
                    {% endfor %}
                  </thead>
        </table>

   </div>
</div>

{% endblock %}
